extends ../layouts/main.pug 
include ../partials/_fieldGroup.pug

block content 
  .page-wrapper
    // 1) HEADER
    header.bg-darkCyan.text-white
      .container.mx-auto.px-4.pt-3(class='md:px-0 md:py-4')
        h1 Change Password
    // 2) MAIN CCONTENT
    .wrapper.bg-slate-100
      .grid.grid-cols-1.gap-4.py-5.px-4.mx-auto(class='md:px-0 md:grid-cols-4 lg:mx-20')
        // 2) MAIN CONTENT
        main#change-password.col-span-1.order-2(class='md:col-span-3')
          if credentialError
            .block.text-red-500.text-lg.text-center #{credentialError}
          if successMsg
            .block.text-green-500.text-lg.text-center #{successMsg}
          form#form-change-password.grid.grid-cols-1.py-4.gap-y-4(class='md:grid-cols-6 md:gap-4' method='POST' action='/auth/account/change-password/save' novalidate)
            +fieldGroup('currentPassword', 'solid', 'lock', 'password', 'currentPassword', '', 'Current Password', 6, {required: true})
            //- .space-y-1.col-span-1(class='md:col-span-4')
            //-   label.block.text-sm.font-semibold.text-darkCyan(for='currentPassword')
            //-     | Current
            //-     | Password
            //-   .relative.flex.items-center
            //-     svg.size-6.absolute.left-3.text-gray-500
            //-       use(xlink:href='/icons/sprites/solid.svg#lock' fill='currentColor')
            //-     input#currentPassword.pl-11(type='password' name='currentPassword' required='')
            +fieldGroup('newPassword', 'solid', 'lock', 'password', 'newPassword', '', 'New Password', 6, {required: true})
            //- .space-y-1.col-span-1(class='md:col-span-4')
            //-   label.block.text-sm.font-semibold.text-darkCyan(for='newPassword')
            //-     | New
            //-     | Password
            //-   .relative.flex.items-center
            //-     svg.size-6.absolute.left-3.text-gray-500
            //-       use(xlink:href='/icons/sprites/solid.svg#lock' fill='currentColor')
            //-     input#newPassword.pl-11(type='password' name='newPassword' required='')
            +fieldGroup('confirmNewPassword', 'solid', 'lock', 'password', 'confirmNewPassword', '', 'Confirm New Password', 6, {required: true})
            //- .space-y-1.col-span-1(class='md:col-span-4')
            //-   label.block.text-sm.font-semibold.text-darkCyan(for='confirmNewPassword')
            //-     | Confirm
            //-     | New Password
            //-   .relative.flex.items-center
            //-     svg.size-6.absolute.left-3.text-gray-500
            //-       use(xlink:href='/icons/sprites/solid.svg#lock' fill='currentColor')
            //-     input#confirmNewPassword.pl-11(type='password' name='confirmNewPassword' required='')
            .grid.grid-cols-1.gap-4.py-4.col-span-1(class='md:col-span-6 md:grid-cols-2')
              a.btn-bullet.btn-gray.w-full(href='/auth/account/dashboard') Back
              button.btn-bullet.btn-limeGreen.w-full(type='submit')
                span Update
        // 3) SIDE MENU
        include ../partials/_accountSideNav.pug
