extends ../layouts/main.pug 

block content 
  .page-wrapper
    // 1) HEADER
    header.bg-darkCyan.text-white
      .container.mx-auto.px-4.pt-3(class='md:px-0 md:py-4')
        h1 Change Password
    // 2) MAIN CCONTENT
    .wrapper.bg-slate-100
      .max-w-screen-xl.grid.grid-cols-1.gap-4.py-5.px-4.mx-auto(class='md:px-0 md:grid-cols-4 lg:mx-20')
        // 2) MAIN CONTENT
        main#change-password.col-span-1.order-2(class='md:col-span-3')
          // my profile form
          form#form-change-password.grid.grid-cols-1.py-4.gap-y-4(class='md:grid-cols-6 md:gap-4')
            .space-y-1.col-span-1(class='md:col-span-4')
              label.block.text-sm.font-semibold.text-darkCyan(for='currentPassword')
                | Current
                | Password
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#lock' fill='currentColor')
                input#currentPassword.pl-11(type='password' name='currentPassword' required='')
            .space-y-1.col-span-1(class='md:col-span-4')
              label.block.text-sm.font-semibold.text-darkCyan(for='newPassword')
                | New
                | Password
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#lock' fill='currentColor')
                input#newPassword.pl-11(type='password' name='newPassword' required='')
            .space-y-1.col-span-1(class='md:col-span-4')
              label.block.text-sm.font-semibold.text-darkCyan(for='confirmNewPassword')
                | Confirm
                | New Password
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#lock' fill='currentColor')
                input#confirmNewPassword.pl-11(type='password' name='confirmNewPassword' required='')
            .grid.grid-cols-1.gap-4.py-4.col-span-1(class='md:col-span-4 md:grid-cols-2')
              a.btn-bullet.btn-gray.w-full(href='/dashboard') Back
              button.btn-bullet.btn-limeGreen.w-full(type='submit')
                span Save
        // 3) SIDE MENU
        include ../partials/_accountSideNav.pug
