extends ../layouts/main.pug 
include ../partials/_pageHeader.pug
include ../partials/_tableHeaderItem.pug
include ../partials/_tableCellItem.pug

block content 
  .page-wrapper
    // 2) MAIN CCONTENT
    .wrapper.bg-slate-100
      .grid.grid-cols-1.gap-4.py-5.px-4.mx-auto(class='md:px-0 md:grid-cols-4 lg:mx-20')
        // 2) MAIN CONTENT
        main#my-comments.col-span-1.order-2(class='md:col-span-3')
          //- // Search & Filter
          //- // 1) FILTER
          //- //
          //-   <div
          //-   class="flex flex-col items-center justify-between p-4 space-y-3 lg:space-x-3 lg:space-y-0 lg:flex-row lg:px-10">
          //-   <div class="w-full lg:w-1/2">
          //-   <label
          //-   for="search-article">Search</label>
          //-   <input type="search"
          //-   name="search-article"
          //-   id="search-article"
          //-   placeholder="Search my articles">
          //-   </div>
          //-   </div>
          // my comment table
          table.w-full.table-auto.border-collapse.border.border-darkCyan.my-4
            caption.text-sm
              | 10 results
            thead.text-sm.text-white.bg-darkCyan
              tr
                +tableHeaderItem('Commenter')
                +tableHeaderItem('Comment')
                +tableHeaderItem('Article')
                +tableHeaderItem('Author')
                +tableHeaderItem('Date Published')
                //- +tableHeaderItem('Date Updated')
                +tableHeaderItem('Action')
            tbody
              - for(let c of comments)
                tr 
                  +tableCellItem('commenter', c.firstName+' '+c.lastName)
                  +tableCellItem('comment', c.comment)
                  +tableCellItem('article', c.articleTitle)
                  +tableCellItem('author', c.authorFirstName+' '+c.authorLastName)
                  +tableCellItem('date_published', c.createdAt.toLocaleString('en-AU', {hour12: false}))
                  //- +tableCellItem('date_updated', c.updatedAt)
                  td.grid.grid-cols-2(class='before:content-[attr(data-cell)] before:uppercase before:font-semibold md:text-center md:table-cell md:before:content-none' data-cell='edit')
                    a.btn.btn-sm.btn-limeGreen(href='/edit') Edit
        // 3) SIDE MENU
        include ../partials/_accountSideNav.pug
