extends ../layouts/main.pug 
include ../partials/_pageHeader.pug
include ../partials/_tableHeaderItem.pug
include ../partials/_tableCellItem.pug
include ../partials/_link.pug

block content 
  .page-wrapper
    // 2) MAIN CCONTENT
    .wrapper.bg-slate-100
      .grid.grid-cols-1.gap-4.py-5.px-4.mx-auto(class='md:px-0 md:grid-cols-4 lg:mx-20')
        // 2) MAIN CONTENT
        main#myBookings.col-span-1.order-2(class='hidden md:col-span-3')
          // Search & Filter
          // 1) FILTER
          div#myBookingFilters.flex.flex-col.items-center.justify-between.p-4.space-y-3(class='lg:space-x-3 lg:space-y-0 lg:flex-row lg:px-10')
            .w-full(class='lg:w-1/2')
              label(for='statusFilter')
                | Filter by
                | status
              select#statusFilter(name='statusFilter')
                option(value='')
                  | ------ Select Booking Status ------
                option(value='booked') booked
                option(value='finished')
                  | finished
                option(value='cancelled')
                  | cancelled
            .w-full(class='lg:w-1/2')
              label(for='classFilter')
                | Filter by
                | Class
              select#classFilter(name='classFilter')
                option(value='')
                  | ------ Select a class ------
                - for(let c of classes)
                  option(value=c.classId) #{c.className}
            //- .w-full(class='lg:w-1/2')
            //-   label(for='search-booking') Search
            //-   input#search-booking(type='search' name='search-booking' placeholder='Search your booked classes')
          // my bookings table
          table#bookingList.w-full.table-auto.border-collapse.border.border-darkCyan.my-4
            caption.text-sm
            thead.text-sm.text-white.bg-darkCyan
              tr
                +tableHeaderItem('No#')
                +tableHeaderItem('member')
                +tableHeaderItem('booked at')
                +tableHeaderItem('class start')
                +tableHeaderItem('class')
                +tableHeaderItem('duration')
                +tableHeaderItem('level')
                +tableHeaderItem('trainer')
                +tableHeaderItem('status')
            tbody
              //- - for(let b of bookings)
              //-   tr
              //-     td.grid.grid-cols-2(class='before:content-[attr(data-cell)] before:uppercase before:font-semibold md:text-center md:table-cell md:before:content-none' data-cell='No')
              //-       +link(b.bookingNo, `/auth/account/booking-confirmation/${b.bookingId}`)
              //-     +tableCellItem('member', b.userFirstName+' '+b.userLastName)
              //-     +tableCellItem('booking_date', b.createdAt.toLocaleString('en-AU', {hour12: false}))
              //-     +tableCellItem('class_datetime', new Intl.DateTimeFormat('en-GB', {dateStyle: 'full', timeStyle: 'long', timeZone: 'Australia/Brisbane'}).format(b.startDateTime))
              //-     +tableCellItem('class', b.className)
              //-     +tableCellItem('duration', b.duration+' mins')
              //-     +tableCellItem('level', b.level)
              //-     +tableCellItem('trainer', b.trainerFirstName)
              //-     +tableCellItem('status', b.status)
          div#pagination-container-myBookings.w-full   
        // 3) SIDE MENU
        include ../partials/_accountSideNav.pug
