extends ../layouts/main.pug 
include ../partials/_pageHeader.pug
include ../partials/_dashLinkItem.pug
include ../partials/_dashStatsItem.pug

block content 
  .page-wrapper
    // 2) MAIN CCONTENT
    .wrapper.bg-slate-100
      .max-w-screen-xl.grid.grid-cols-1.gap-4.py-5.px-4.mx-auto(class='md:px-0 md:grid-cols-4 lg:mx-20')
        // 2) MAIN CONTENT
        main#dashboard.col-span-1.order-2(class='md:col-span-3')
          //- #TODO: GREETING + EMOJI BASED ON TIME
          p#greeting
          // TOP ACCOUNT ITEMS
          section#content-items.flex.flex-col.justify-between(class='md:flex-row md:flex-wrap')
            +dashLinkItem('bookings', 'solid', 'dumbbell', 'manage-bookings')
            +dashLinkItem('articles', 'regular', 'newspaper', 'manage-articles')
            +dashLinkItem('comments', 'regular', 'comments', 'manage-comments')
            +dashLinkItem('my profile', 'regular', 'address-card', 'my-profile')
            if user.userRole === 'admin'
              +dashLinkItem('data import', 'solid', 'upload', 'data-import', 'admin')
          // BOTTOM STATS
          section#stats.flex.flex-col.space-y-4.items-center.justify-between.py-4(class='md:flex-row md:space-x-4 md:space-y-0')
            +dashStatsItem('total bookings', 2)
            +dashStatsItem('total articles', 2)
            +dashStatsItem('total comments', 2)
        // 3) SIDE MENU
        include ../partials/_accountSideNav.pug
