mixin sideNavItem(name, slug, active)
  li(data-active=`${active}`)
    a.block.p-4.capitalize(href=`/auth/${slug}` class=`${active === true ? 'bg-limeGreen' : 'hover:bg-limeGreen hover:underline'}`)
      | #{name}

nav.order-1
  ul#account-menu-list.text-midnightBlue.flex.flex-col.font-semibold
    +sideNavItem('my dashboard', 'my-dashboard', true)
    +sideNavItem('my bookings', 'my-bookings', false)
    +sideNavItem('my articles', 'my-articles', false)
    +sideNavItem('my comments', 'my-comments', false)
    +sideNavItem('my profile', 'my-profile', false)
    +sideNavItem('change password', 'change-password', false)
    +sideNavItem('logout', 'logout', false)

