nav.order-1
  ul#account-menu-list.text-midnightBlue.flex.flex-col.font-semibold
    li(data-active='true')
      a.block.p-4.bg-limeGreen(href='/dashboard')
        | My
        | Dashboard
    li(data-active='false')
      a.block.p-4(href='/my-bookings' class='hover:bg-limeGreen hover:underline')
        | My
        | Bookings
    li(data-active='false')
      a.block.p-4(href='/my-articles' class='hover:bg-limeGreen hover:underline')
        | My
        | Articles
    li(data-active='false')
      a.block.p-4(href='/my-comments' class='hover:bg-limeGreen hover:underline')
        | My
        | Comments
    li(data-active='false')
      a.block.p-4(href='/my-profile' class='hover:bg-limeGreen hover:underline')
        | My
        | Profile
    li(data-active='false')
      a.block.p-4(href='/change-password' class='hover:bg-limeGreen hover:underline')
        | Change
        | Password
    li(data-active='false')
      a.block.p-4(href='/logout' class='hover:bg-limeGreen hover:underline') Logout
