mixin dashStatsItem(labelText, valueText)
  article.block.rounded-lg.bg-white.shadow.text-center.px-4.py-2.w-full(class='md:w-1/3')
    h2.text-sm.capitalize
      | #{labelText}
    p.text-2xl.font-bold #{valueText}
