mixin dayColor(day)
  - const colorObj = {MON: "bg-sky-700",TUE: "bg-red-700",WED: "bg-slate-700",THU: "bg-orange-700",FRI: "bg-zinc-800",SAT: "bg-violet-700",SUN: "bg-teal-700"}
  span.text-xs.text-center.font-semibold.inline-block.py-1.px-2.max-w-fit.uppercase.rounded-full.text-white.min-w-14(class=`${colorObj[day]}`) #{day}
