mixin fieldErrorMsg(fieldName)
  .block.text-red-500.min-h-3.h-fit 
    small.fieldError(class=`${errors && errors.find((obj) => obj.path === fieldName) ? 'block' : 'hidden'}`) 
      | #{errors && errors.find((obj) => obj.path === fieldName) ? errors.find((obj) => obj.path === fieldName).msg : ''}
