footer.mt-auto
  .flex.flex-col.mx-auto.p-6.items-center.justify-between.text-xs.bg-cadetBlue(class='lg:flex-row')
    p
      | High Street Gym Copyright &copy; 2024.
      | All Rights Reserved.
    p Powered by Beibei Yang
