mixin tableCellItem(field, value)
  td.grid.grid-cols-2(data-cell=`${field}` class='before:content-[attr(data-cell)] before:uppercase before:font-semibold md:text-center md:table-cell md:before:content-none')
    | #{value}
