@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "oxygen-regular";
    font-weight: normal;
    font-style: normal;
    src:
      url("/fonts/oxygen-regular-webfont.woff2") format("woff2"),
      url("/fonts/oxygen-regular-webfont.woff") format("woff");
  }
  @font-face {
    font-family: "inter-regular";
    font-weight: normal;
    font-style: normal;
    src:
      url("/fonts/inter-regular-webfont.woff2") format("woff2"),
      url("/fonts/inter-regular-webfont.woff") format("woff");
  }
  html {
    font-family: "inter-regular", system-ui, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  p,
  span {
    @apply text-sm;
  }
  p {
    @apply my-4;
  }

  th,
  td {
    @apply text-sm p-1 md:p-2;
  }
  tr:nth-of-type(2n) {
    @apply bg-gray-100;
  }
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-limeGreen focus:ring-limeGreen;
  }
  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 rounded text-darkCyan focus:ring-darkCyan;
  }
}

@layer components {
  .btn {
    @apply text-base px-4 py-3 font-semibold inline-flex items-center justify-center w-fit transition ease-in-out hover:underline;
  }
  .btn-bullet {
    @apply text-base px-4 py-3 rounded-full font-semibold inline-flex items-center justify-center w-fit transition ease-in-out hover:underline;
  }
  .btn-sm {
    @apply text-xs px-3 py-1 font-semibold;
  }
  .btn-white {
    @apply bg-white shadow text-darkCyan hover:brightness-90;
  }
  .btn-darkCyan {
    @apply bg-darkCyan text-white hover:brightness-125;
  }
  .btn-limeGreen {
    @apply bg-limeGreen text-midnightBlue hover:brightness-90;
  }
  .btn-lemonGreen {
    @apply bg-lemonGreen text-midnightBlue hover:brightness-90;
  }
  .btn-red {
    @apply bg-red-600 text-white hover:brightness-90;
  }
  .btn-gray {
    @apply bg-gray-500 text-white hover:brightness-90;
  }
  .page-wrapper {
    @apply flex flex-col w-full grow bg-slate-100;
  }
}
