doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/bundle/bundle.css")
    title High Street Gym | #{title}
  body(class="flex flex-col min-h-screen justify-center")
    // MAINNAV
    include ../partials/_mainnav.pug

    // FLASH MESSAGE
    include ../partials/_flashMessage.pug 
    if successMsg 
      +successMessage(successMsg)
    if errorMsg 
      +errorMessage(errorMsg)
    
    // CONTENT
    block content

    // FOOTER
    include ../partials/_footer.pug
    include ../partials/_spinner.pug

    script(type="module", src="/bundle/bundle.js") 
