extends layout.pug 

block content 
  .page-wrapper
    // 1) HEADER
    header.bg-darkCyan.text-white
      .container.mx-auto.px-4.pt-3(class='md:px-0 md:py-4')
        h1 My Dashboard
    // 2) MAIN CCONTENT
    .wrapper.bg-slate-100
      .max-w-screen-xl.grid.grid-cols-1.gap-4.py-5.px-4.mx-auto(class='md:px-0 md:grid-cols-4 lg:mx-20')
        // 2) MAIN CONTENT
        main#dashboard.col-span-1.order-2(class='md:col-span-3')
          // TOP ACCOUNT ITEMS
          section#content-items.flex.flex-col.items-center.justify-between(class='md:flex-row md:flex-wrap')
            a.group.block.mx-auto.rounded-lg.bg-white.shadow.transition-all.ease-in-out.delay-75.w-full.my-2(class='hover:bg-limeGreen hover:-translate-y-1 hover:shadow-lg md:w-[49%]' href='/my-booking')
              .grid.place-content-center.mx-auto.py-4.w-full(href='/my-booking')
                svg.size-24.mx-auto(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 640 512' fill='currentColor' class='group-hover:fill-darkCyan')
                  // !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
                  path(d='M96 64c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32l0 160 0 64 0 160c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-64-32 0c-17.7 0-32-14.3-32-32l0-64c-17.7 0-32-14.3-32-32s14.3-32 32-32l0-64c0-17.7 14.3-32 32-32l32 0 0-64zm448 0l0 64 32 0c17.7 0 32 14.3 32 32l0 64c17.7 0 32 14.3 32 32s-14.3 32-32 32l0 64c0 17.7-14.3 32-32 32l-32 0 0 64c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-160 0-64 0-160c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32zM416 224l0 64-192 0 0-64 192 0z')
                h2.text-base(class='group-hover:underline group-hover:text-darkCyan')
                  | My Bookings
            a.group.block.mx-auto.rounded-lg.bg-white.shadow.transition-all.ease-in-out.delay-75.w-full.my-2(class='hover:bg-limeGreen hover:-translate-y-1 hover:shadow-lg md:w-[49%]' href='/my-articles')
              .grid.place-content-center.mx-auto.py-4.w-full
                svg.size-24.mx-auto(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512' fill='currentColor' class='group-hover:fill-darkCyan')
                  // !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
                  path(d='M168 80c-13.3 0-24 10.7-24 24l0 304c0 8.4-1.4 16.5-4.1 24L440 432c13.3 0 24-10.7 24-24l0-304c0-13.3-10.7-24-24-24L168 80zM72 480c-39.8 0-72-32.2-72-72L0 112C0 98.7 10.7 88 24 88s24 10.7 24 24l0 296c0 13.3 10.7 24 24 24s24-10.7 24-24l0-304c0-39.8 32.2-72 72-72l272 0c39.8 0 72 32.2 72 72l0 304c0 39.8-32.2 72-72 72L72 480zM176 136c0-13.3 10.7-24 24-24l96 0c13.3 0 24 10.7 24 24l0 80c0 13.3-10.7 24-24 24l-96 0c-13.3 0-24-10.7-24-24l0-80zm200-24l32 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-32 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 80l32 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-32 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zM200 272l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 80l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24s10.7-24 24-24z')
                h2.text-base(class='group-hover:text-darkCyan group-hover:underline')
                  | My Articles
            a.group.block.mx-auto.rounded-lg.bg-white.shadow.transition-all.ease-in-out.delay-75.w-full.my-2(class='hover:bg-limeGreen hover:-translate-y-1 hover:shadow-lg md:w-[49%]' href='/my-comments')
              .grid.place-content-center.mx-auto.py-4.w-full
                svg.size-24.mx-auto(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 640 512' fill='currentColor' class='group-hover:fill-darkCyan')
                  // !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
                  path(d='M88.2 309.1c9.8-18.3 6.8-40.8-7.5-55.8C59.4 230.9 48 204 48 176c0-63.5 63.8-128 160-128s160 64.5 160 128s-63.8 128-160 128c-13.1 0-25.8-1.3-37.8-3.6c-10.4-2-21.2-.6-30.7 4.2c-4.1 2.1-8.3 4.1-12.6 6c-16 7.2-32.9 13.5-49.9 18c2.8-4.6 5.4-9.1 7.9-13.6c1.1-1.9 2.2-3.9 3.2-5.9zM208 352c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176c0 41.8 17.2 80.1 45.9 110.3c-.9 1.7-1.9 3.5-2.8 5.1c-10.3 18.4-22.3 36.5-36.6 52.1c-6.6 7-8.3 17.2-4.6 25.9C5.8 378.3 14.4 384 24 384c43 0 86.5-13.3 122.7-29.7c4.8-2.2 9.6-4.5 14.2-6.8c15.1 3 30.9 4.5 47.1 4.5zM432 480c16.2 0 31.9-1.6 47.1-4.5c4.6 2.3 9.4 4.6 14.2 6.8C529.5 498.7 573 512 616 512c9.6 0 18.2-5.7 22-14.5c3.8-8.8 2-19-4.6-25.9c-14.2-15.6-26.2-33.7-36.6-52.1c-.9-1.7-1.9-3.4-2.8-5.1C622.8 384.1 640 345.8 640 304c0-94.4-87.9-171.5-198.2-175.8c4.1 15.2 6.2 31.2 6.2 47.8l0 .6c87.2 6.7 144 67.5 144 127.4c0 28-11.4 54.9-32.7 77.2c-14.3 15-17.3 37.6-7.5 55.8c1.1 2 2.2 4 3.2 5.9c2.5 4.5 5.2 9 7.9 13.6c-17-4.5-33.9-10.7-49.9-18c-4.3-1.9-8.5-3.9-12.6-6c-9.5-4.8-20.3-6.2-30.7-4.2c-12.1 2.4-24.8 3.6-37.8 3.6c-61.7 0-110-26.5-136.8-62.3c-16 5.4-32.8 9.4-50 11.8C279 439.8 350 480 432 480z')
                h2.text-base(class='group-hover:text-darkCyan group-hover:underline')
                  | My Comments
            a.block.group.mx-auto.rounded-lg.bg-white.shadow.transition-all.ease-in-out.delay-75.w-full.my-2(class='hover:bg-limeGreen hover:-translate-y-1 hover:shadow-lg md:w-[49%]' href='/my-profile')
              .grid.place-content-center.mx-auto.py-4.w-full
                svg.size-24.mx-auto(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 576 512' fill='currentColor' class='group-hover:fill-darkCyan')
                  // !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
                  path(d='M512 80c8.8 0 16 7.2 16 16l0 320c0 8.8-7.2 16-16 16L64 432c-8.8 0-16-7.2-16-16L48 96c0-8.8 7.2-16 16-16l448 0zM64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l448 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM208 256a64 64 0 1 0 0-128 64 64 0 1 0 0 128zm-32 32c-44.2 0-80 35.8-80 80c0 8.8 7.2 16 16 16l192 0c8.8 0 16-7.2 16-16c0-44.2-35.8-80-80-80l-64 0zM376 144c-13.3 0-24 10.7-24 24s10.7 24 24 24l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0z')
                h2.text-base(class='group-hover:underline group-hover:text-darkCyan')
                  | My Profile
          // BOTTOM STATS
          section#stats.flex.flex-col.space-y-4.items-center.justify-between.py-4(class='md:flex-row md:space-x-4 md:space-y-0')
            article.block.rounded-lg.bg-white.shadow.text-center.px-4.py-2.w-full(class='md:w-1/3')
              h2.text-sm
                | Total Bookings
              p.text-2xl.font-bold 2
            article.block.rounded-lg.bg-white.shadow.text-center.px-4.py-2.w-full(class='md:w-1/3')
              h2.text-sm
                | Total Bookings
              p.text-2xl.font-bold 2
            article.block.rounded-lg.bg-white.shadow.text-center.px-4.py-2.w-full(class='md:w-1/3')
              h2.text-sm
                | Total Bookings
              p.text-2xl.font-bold 2
        // 3) SIDE MENU
        include partials/_accountSideNav.pug
