extends layout.pug
include partials/_fieldErrorMsg.pug

block content 
  // Want to change layout to left iamge, right login form, hide nav menu
  // NEED TO ADD A BACKGROUND IMAGE TO LOGIN PAGE
  // MAIN CONTENT
  main#login.flex.items-center.justify-center.grow.bg-gray-300
    .container.mx-auto.flex.flex-col.rounded-xl.bg-white.max-w-2xl.px-6.py-10(class='md:p-16')
      h1.text-2xl.text-center
        | Sign In To
        | My
        | Account
      if credentialError
        .block.text-red-500.text-lg.text-center #{credentialError}
      form#form-login.flex.flex-col.py-4.my-4(method='POST' action='/login' novalidate)
        .space-y-1.my-4
          label.block.text-sm.font-semibold.text-darkCyan(for='login_email')
            | Email
            | Address
          .relative.flex.items-center
            svg.size-6.absolute.left-3.text-gray-500
              use(xlink:href='/icons/sprites/regular.svg#envelope' fill='currentColor')
            input#login_email.pl-11(type='email' name='login_email' placeholder='name@example.com' required='' autocomplete='username' value=(login_email || ''))
          +fieldErrorMsg('login_email')
        .space-y-1.my-4
          label.block.text-sm.font-semibold.text-darkCyan(for='login_password') Password
          .relative.flex.items-center
            svg.size-6.absolute.left-3.text-gray-500
              use(xlink:href='/icons/sprites/solid.svg#lock' fill='currentColor')
            input#login_password.pl-11(type='password' name='login_password' required='' autocomplete='current_password')
          +fieldErrorMsg('login_password')
        button.btn-bullet.btn-limeGreen.my-5.space-x-1.w-full(type='submit')
          span Login
          svg.size-6
            use(xlink:href='/icons/sprites/solid.svg#right-to-bracket' fill='currentColor')
      a.text-sm.text-darkCyan.underline.underline-offset-2.decoration-dotted(href='/forgot-password' class='hover:brightness-125 hover:decoration-solid')
        | Forgot
        | my
        | password?
      p
        | Don&apos;t have an account? 
        a.text-sm.text-darkCyan.underline.underline-offset-2.decoration-dotted(href='/signup' class='hover:brightness-125 hover:decoration-solid')
          | Sign
          | up here!
