extends layout.pug
include partials/_fieldErrorMsg.pug

block content 
  main#signup.flex.items-center.justify-center.py-10.px-4.bg-gray-300
  .container.mx-auto.flex.flex-col.rounded-xl.bg-white.max-w-2xl.px-6.py-10
    h1.text-2xl.text-center
      | Sign Up An
      | Account
    form#form-signup.grid.grid-cols-1.py-4.gap-4(class='md:grid-cols-2' method='POST' action='/signup' novalidate)
      input#userId(type='hidden' name='userId' value=(newUser && newUser.userId || ''))
      .space-y-1.col-span-1(class='md:col-span-1')
        label.block.text-sm.font-semibold.text-darkCyan(for='register_firstname')
          | First
          | Name
        .relative.flex.items-center
          svg.size-6.absolute.left-3.text-gray-500
            use(xlink:href='/icons/sprites/solid.svg#f' fill='currentColor')
          input#register_firstname.pl-11(type='text' name='register_firstname' placeholder='John' required autocomplete='given-name' value=(newUser && newUser.firstname || ''))
        +fieldErrorMsg('register_firstname')
      .space-y-1.col-span-1(class='md:col-span-1')
        label.block.text-sm.font-semibold.text-darkCyan(for='register_surname')
          | Last
          | Name
        .relative.flex.items-center
          svg.size-6.absolute.left-3.text-gray-500
            use(xlink:href='/icons/sprites/solid.svg#l' fill='currentColor')
          input#register_surname.pl-11(type='text' name='register_surname' placeholder='Doe' required='' autocomplete='family-name' value=(newUser && newUser.surname || ''))
        +fieldErrorMsg('register_surname')
      .space-y-1.col-span-1(class='md:col-span-2')
        label.block.text-sm.font-semibold.text-darkCyan(for='register_email')
          | Email
          | Address
        .relative.flex.items-center
          svg.size-6.absolute.left-3.text-gray-500
            use(xlink:href='/icons/sprites/regular.svg#envelope' fill='currentColor')
          input#register_email.pl-11(type='email' name='register_email' placeholder='name@example.com' required='' autocomplete='username' value=(newUser && newUser.email || ''))
        +fieldErrorMsg('register_email')
      .space-y-1.col-span-1(class='md:col-span-2')
        label.block.text-sm.font-semibold.text-darkCyan(for='register_mobilenumber')
          | Mobile
          | Number
        .relative.flex.items-center
          svg.size-6.absolute.left-3.text-gray-500
            use(xlink:href='/icons/sprites/solid.svg#mobile-screen' fill='currentColor')
          input#register_mobilenumber.pl-11(type='tel' name='register_mobilenumber' placeholder='0400123456' required='' autocomplete='tel-national' value=(newUser && newUser.phoneNumber || ''))
        +fieldErrorMsg('register_mobilenumber')
      .space-y-1.col-span-1(class='md:col-span-2')
        label.block.text-sm.font-semibold.text-darkCyan(for='register_password') Password
        .relative.flex.items-center
          svg.size-6.absolute.left-3.text-gray-500
            use(xlink:href='/icons/sprites/solid.svg#lock' fill='currentColor')
          input#register_password.pl-11(type='password' name='register_password' required='' autocomplete='new-password')
        +fieldErrorMsg('register_password')
      .space-y-1.col-span-1(class='md:col-span-2')
        label.block.text-sm.font-semibold.text-darkCyan(for='register_confirmPassword')
          | Confirm
          | Password
        .relative.flex.items-center
          svg.size-6.absolute.left-3.text-gray-500
            use(xlink:href='/icons/sprites/solid.svg#lock' fill='currentColor')
          input#register_confirmPassword.pl-11(type='password' name='register_confirmPassword' required='')
        +fieldErrorMsg('register_confirmPassword')
      .space-y-1.col-span-1(class='md:col-span-2')
        button.btn-bullet.btn-limeGreen.my-5.space-x-1.w-full(type='submit')
          span
            | Sign
            | Up
          svg.size-6
            use(xlink:href='/icons/sprites/solid.svg#right-to-bracket' fill='currentColor')
    p
      | Existing gym member? 
      a.text-sm.text-darkCyan.underline.underline-offset-2.decoration-dotted(href='/login' class='hover:brightness-125 hover:decoration-solid')
        | Login
        | here!
