extends layout 
include partials/_tableHeaderItem.pug
include partials/_tableCellItem.pug

block content 
  header.bg-darkCyan.text-white
    .container.mx-auto.px-4.pt-3(class='md:px-0 md:py-4')
      h1 Timetable
      p Book a class that suits your time!
  .wrapper.bg-slate-100
    .max-w-screen-xl.mx-20.my-10.bg-white.rounded.border
      // 1) FILTER
      .form.flex.flex-col.items-center.justify-between.p-4.space-y-3(class='lg:space-x-3 lg:space-y-0 lg:flex-row lg:px-10')
        .w-full(class='lg:w-1/3')
          label(for='class') Class
          select#class(name='class')
            option(value='')
              | ---Select a class----
            - for(let c of classes)
              option(value=`${c.classId}`) #{c.className}
        .w-full(class='lg:w-1/3')
          label(for='fromDate') From
          input#fromDate(type='date' name='from')
        .w-full(class='lg:w-1/3')
          label(for='toDate') To
          input#toDate(type='date' name='to')
      // 2) TABLE
      // TODO: ADD PAGINATION
      .flex.flex-col.py-4.px-4.items-center.justify-center(class='lg:px-10')
        table.w-full.table-auto.border-collapse.border.border-darkCyan.my-4
          //
            <caption class="text-2xl font-bold">
            Timetable
            </caption>
          thead.text-sm.text-white.bg-darkCyan
            tr
              +tableHeaderItem('Date')
              +tableHeaderItem('Weekday')
              +tableHeaderItem('Time')
              +tableHeaderItem('Class')
              +tableHeaderItem('Duration')
              +tableHeaderItem('Level')
              +tableHeaderItem('Trainer')
              +tableHeaderItem('Availability')
              +tableHeaderItem('Action')
          tbody
          - for(let s of timetables)
            tr
              +tableCellItem('date', s.startDateTime.toLocaleDateString('en-AU'))
              +tableCellItem('weekday', s.startDateTime.toLocaleDateString('en-AU', {weekday: 'short'}))
              +tableCellItem('time', s.startDateTime.toLocaleTimeString('en-AU', {timeStyle: 'short', hour12: false}))
              +tableCellItem('class', s.className)
              +tableCellItem('duration', s.duration)
              +tableCellItem('level', s.level)
              +tableCellItem('trainer', s.trainerFirstName)
              +tableCellItem('availability', s.availability)
              td.grid.grid-cols-2(class='before:content-[attr(data-cell)] before:uppercase before:font-semibold md:text-center md:table-cell md:before:content-none' data-cell='action')
                a.btn-bullet.btn-limeGreen.btn-sm(href='#') Book Now
