extends ../layouts/main.pug 
include ../partials/_userRoleVariable.pug

block variables
  +roleVariable()

block content 
  .page-wrapper
    // 1) HEADER
    header.bg-darkCyan.text-white
      .container.mx-auto.px-4.pt-3(class='md:px-0 md:py-4')
        h1 Create Article
    // 2) MAIN CCONTENT
    .wrapper.bg-slate-100
      .max-w-screen-xl.grid.grid-cols-1.gap-4.py-5.px-4.mx-auto(class='md:px-0 md:grid-cols-4 lg:mx-20')
        // 2) MAIN CONTENT
        main#create-article.col-span-1.order-2(class='md:col-span-3')
          // my profile form
          form#form-create-article.grid.grid-cols-1.py-4.gap-y-4(class='md:grid-cols-6 md:gap-4' method='POST' action=`/auth/${role}/article/create` enctype='multipart/form-data')
            .space-y-1.col-span-1(class='md:col-span-6')
              label.block.text-sm.font-semibold.text-darkCyan(for='articleTitle') Title
              .relative.flex.items-center
                svg.absolute.size-6.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#heading' fill='currentColor')
                input#articleTitle.pl-11(type='text' name='articleTitle' placeholder='Enter an article name' required='')
            .space-y-1.col-span-1(class='md:col-span-3')
              label.block.text-sm.font-semibold.text-darkCyan(for='topic') Topic
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#tag' fill='currentColor')
                select#topic.text-center(name='topic')
                  option(value='')
                    | ------Select a
                    | topic------
                  - for(let t of topics)
                    option(value=t.topicId) #{t.topicName}
            .space-y-1.col-span-1(class='md:col-span-3')
              label.block.text-sm.font-semibold.text-darkCyan(for='visibility') Visibility
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/regular.svg#eye' fill='currentColor')
                select#visibility.text-center(name='visibility')
                  option(value='private' selected='')
                    | Private:
                    | visible to myself
                  option(value='member-only')
                    | Member only: visible to gym
                    | members
                  option(value='public')
                    | Public:
                    | visible to everyone
            .space-y-1.col-span-1(class='md:col-span-6')
              label.block.text-sm.font-semibold.text-darkCyan(for='imageCover')
                | Cover
                | Image
              .relative.flex.items-center
                input#imageCover(type='file' name='imageCover' accept='image/*')
            .space-y-1.col-span-1(class='md:col-span-6')
              label.block.text-sm.font-semibold.text-darkCyan(for='articleContent') Content
              input(type="hidden", name="articleContent")
              .h-96#articleEditor
              //- textarea#articleContent(name='articleContent' row='20' class='quill-editor') 
            .space-y-1.col-span-1(class='md:col-span-3')
              a.btn-bullet.btn-gray.my-5.space-x-1.w-full(href='/dashboard') Back
            .space-y-1.col-span-1(class='md:col-span-3')
              button.btn-bullet.btn-limeGreen.my-5.space-x-1.w-full(type='submit')
                span Save
        // 3) COVER IMAGE PREVIEW
        section.order-1
          img(src="/images/blog/default-article-cover.jpg", alt="article-cover", class="object-cover")

